################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MultiScan-1/bin/Debug
/MultiScan-1/obj
/MultiScan-1/.vs/MultiScan-1/v16
