################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiScan-1/bin/Debug
/MultiScan-1/obj
